{% extends 'blog/base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
{% endblock %}
